@font-face {
    font-family: 'TTHakgyoansimKkokkomaR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimKkokkomaR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimBadasseugiTTF-L';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimBadasseugiTTF-L.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h2, h3, h4 {
    text-align: center;
}

h2, h3 {
    font-family: "Special Gothic Expanded One", sans-serif;
}

h2, span {
    text-transform: capitalize;
}

h2 {
    font-size: 7.2vw;
    margin: 20vw 0 0;
}

h3, p {
    text-transform: uppercase;
}

h3 {
    font-size: 6vw;
    letter-spacing: 0.04em;
}

h4 {
    font-size: 5vw;
    margin-top: 2vw;
    line-height: 1.7;
    margin-bottom: 15vw;
    font-family: 'KOTRA_BOLD-Bold', sans-serif;
}

h5 {
    font-size: 4.3vw;
    padding-bottom: 3vw;
}

span {
    display: block;
    font-size: 4.2vw;
}

p {
    display: block;
    font-size: 3.6vw;
}

a {
    font-size: 5vw;
    font-weight: 600;
    letter-spacing: -0.05em;
    text-transform: capitalize;
}

.jhy-pf__Light {
    z-index: 3;
    top: -10vw;
    left: -150px;
    width: 10vw;
    height: 100%;
    position: fixed;
    overflow: hidden;
    transform: rotateZ(183deg);
    animation: light 5s infinite;
    background: linear-gradient(to right, rgb(242 247 253 / 0%) 0%, rgba(255, 255, 255, 0.31) 50%, rgb(217 255 253 / 0%) 100%);
}

@keyframes light {
    0% {
        left: -150px;
    }
    100% {
        left: 100%;
    }
}

@media (min-width: 700px) {
    .jhy-pf__Mobile {
        display: none;
    }
}

.jhy-pf__Mobile {
    overflow-x: hidden;
    background: #021733;
    padding: 6vw 3vw 10vw;
}

.jhy-pf__Rope {
    width: 4vw;
    height: 20vw;
    position: relative;
    margin: -11vw auto;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 -3px 5px rgb(0 0 0 / 63%);
    background-image: linear-gradient(175deg, #a3a3a3, #f6f6f6, #ffffff, #ffffff, #ffffff, #c0c2c6, #222324);
}

.jhy-pf__Holes {
    display: flex;
    padding: 3vw 0;
    border-radius: 25px;
    border: 1px solid #ebebeb;
    border-bottom: 10px solid #e1e1e3;
    background: linear-gradient(145deg, #fff, #eceded, #cfd2da);
    box-shadow: 11px 11px 50px #fffffff0, -11px -11px 50px #ffffff70;
}

.jhy-pf__Hole1,
.jhy-pf__Hole2,
.jhy-pf__Hole3 {
    height: 3vw;
    width: 14vw;
    border-radius: 15px;
}

.jhy-pf__Hole1 {
    margin-left: 10vw;
    background: linear-gradient(45deg, #797979, #dddddd, #676363);
}

.jhy-pf__Hole2 {
    width: 8vw;
    margin: 0 auto;
    background: linear-gradient(45deg, #797979, #000000, #676363);
}

.jhy-pf__Hole3 {
    margin-right: 10vw;
    background: linear-gradient(45deg, #797979, #dddddd, #676363);
}

.jhy-pf__Division {
    width: 110%;
    margin: 5vw 0 -10vw -4vw;
    border-top: 5px solid #f1f1f3;
}

.jhy-pf__Wrapper {
    padding: 5vw;
    overflow: hidden;
    border-radius: 25px;
    border: 2px solid #7d7d7d;
    box-shadow: 11px 1px 50px #0000002e, -11px -1px 50px #000000a8;
    background: linear-gradient(45deg, #eee, #d9d9e6, #dbd6d6, #fffefc, #ddd);
}

.jhy-pf__Container {
    margin: 6vw 0 0;
    background: #fff;
    border-radius: 25px;
    padding: 0 5vw 10vw;
    border: 2px solid #eee;
    box-shadow: -1px -0.5px 3px #b2b2b2, 1px -0.5px 1px #c4c4c4;
}

.dia-mark {
    width: 5vw;
    display: block;
    margin: 15vw auto 5vw;
}

.profile {
    margin-top: 15vw;
    padding-bottom: 0;
    border-top: 5px solid #eee;
    background: linear-gradient(0deg, #fff, #fff, #eceded, #cfd2da);
}

.profile .profile-image {
    width: fit-content;
    margin: 15vw auto 0;
}

.profile .profile-image .image {
    padding: 1vw;
    border-radius: 25px;
    background: linear-gradient(45deg, #d5d7da8a, #f1f7ff6b, #d2d8e3);
}

.profile .profile-image .image img {
    width: 50vw;
    padding: 2px;
    display: block;
    border-radius: 25px;
    filter: contrast(0.85) brightness(1.05) hue-rotate(354deg);
    box-shadow: -1px -0.5px 3px #292828, 1px -0.5px 1px #706d6d;
}

.profile .profile-image .image span {
    color: #fff;
    opacity: 0.3;
    font-size: 5vw;
    margin-top: -55%;
    margin-left: 40%;
    position: absolute;
    letter-spacing: 0.6em;
    writing-mode: vertical-lr;
    text-shadow: 2px 3px 1px #000000c7;
    animation: fadein 3s ease-out forwards;
    font-family: 'HakgyoansimBadasseugiTTF-L', sans-serif;
}

.profile .contact {
    padding-bottom: 15vw;
}

.profile .contact .info {
    width: fit-content;
    text-align: center;
    margin: 10vw auto 2vw;
}

.profile .contact .info h5 {
    padding: 2vw 0;
    font-size: 3.8vw;
}

.profile .contact .info h5 img {
    background: #fff;
    width: 46vw !important;
    margin-bottom: -9px !important;
    filter: contrast(1.1) brightness(1.1);
}

.profile .contact .info h5 .phone {
    width: 28vw !important;
    margin-bottom: -9px !important;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about span {
    line-height: 1.6;
    margin-bottom: 3vw;
}

.about .location {
    width: 8vw;
    display: block;
}

.about .about-box {
    padding-bottom: 7vw;
}

.about .number {
    width: 5vw;
    margin-bottom: -0.7vw;
}

.about .n-1 {
    filter: hue-rotate(190deg) brightness(1.5);
}

.about .n-2 {
    filter: hue-rotate(85deg) saturate(4);
}

.about .n-3 {
    filter: hue-rotate(350deg) saturate(1.2) brightness(1.1);
}

.about .n-4 {
    filter: hue-rotate(7deg);
}

.about .n-5 {
    filter: hue-rotate(290deg) saturate(0.8);
}

.about .n-6 {
    filter: brightness(1.2);
}

.about .n-7 {
    filter: hue-rotate(250deg) brightness(1.1);
}


.swatch {
    display: block;
    text-align: center;
    position: relative;
}

.swatch div {
    top: 0;
    width: 10vw;
    height: 25vw;
    border-radius: 5px;
    text-align: center;
    margin-left: -35px;
    display: inline-block;
    box-sizing: border-box;
    transform: rotate(0deg);
    backface-visibility: hidden;
    transform-origin: center 90%;
    border-top: solid 2px rgba(0, 0, 0, 0.2);
    border-left: solid 3px rgba(255, 255, 255, 0.2);
    border-bottom: solid 3px rgba(0, 0, 0, 0.2);
}

.swatch div:before {
    width: 16px;
    height: 16px;
    content: "";
    bottom: 10px;
    margin-left: -8px;
    position: absolute;
    border-radius: 8px;
    display: inline-block;
    background-color: #ffffff;
}

.swatch div:nth-child(1) {
    background-color: #14095e;
    animation: swatch-purple-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(2) {
    background-color: #151a4e;
    animation: swatch-blue-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(3) {
    background-color: #004a19;
    animation: swatch-green-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(4) {
    background-color: #3f7504;
    animation: swatch-yellow-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(5) {
    background-color: #853b06;
    animation: swatch-orange-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(6) {
    background-color: #771e27;
    animation: swatch-red-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes swatch-purple-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(-65deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-blue-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(-40deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-green-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(-15deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-yellow-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(15deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-orange-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(40deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-red-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(65deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

.software {
    text-align: center;
    padding: 7vw 2vw 10vw;
}

.software .software-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.software .software-grid .item {
    padding: 3vw 0 5vw;
}

.software .software-grid .item img {
    width: 22vw;
}

.software .software-grid .item p {
    margin: auto;
}

.timeline span {
    font-size: 4.5vw;
    padding-bottom: 1.7vw;
}

.timeline .timeline-box {
    margin-bottom: 25vw;
}

.timeline .timeline-box img:nth-child(2) {
    width: 100%;
    height: 40vw;
    padding: 2px;
    margin: 3vw 0;
    object-fit: cover;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: -1px -0.5px 3px #292828, 1px -0.5px 1px #706d6d;
}

.timeline .timeline-box .w-image,
.timeline .timeline-box .p-image {
    height: 45vw !important;
}

.timeline .timeline-box .p-image {
    filter: contrast(1.6) saturate(0.3) hue-rotate(20deg) brightness(1.4);
}

.timeline .timeline-box .kg-image {
    border: 1px solid #eee;
    filter: invert(1) hue-rotate(270deg) saturate(1.2) brightness(1.8);
}

.timeline .timeline-box .ew-image {
    filter: hue-rotate(165deg) saturate(0.4) contrast(1.5) brightness(0.9);
}

.timeline .timeline-box .s-image {
    filter: contrast(1.3) brightness(1.1) saturate(1.8) hue-rotate(20deg);
}

.timeline .timeline-box .s-logo {
    width: 33vw;
    height: 8vw;
}

.timeline .timeline-box .p-logo {
    margin-left: 1.5vw;
    width: 29vw;
    height: 6.5vw;
}

.timeline .timeline-box .w-logo {
    height: 8.5vw;
    margin-left: -2vw;
    margin-bottom: -1vw;
    filter: contrast(1.2);
}

.timeline .timeline-box .kg-logo {
    width: 30vw;
    margin-bottom: -1vw;
}

.timeline .timeline-box .ew-logo {
    width: 36vw;
}


/* experience start */

.experience h3 {
    margin-bottom: 0;
    line-height: 1.2;
}

.experience h4 {
    margin-top: 2vw;
    font-size: 5.5vw;
}

.experience span {
    line-height: 3;
    display: block;
    font-size: 4vw;
    text-align: left;
    margin-top: 10vw;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.experience p {
    font-size: 6vw;
    font-weight: 600;
    letter-spacing: -0.04em;
}

.experience a img {
    height: 6vw;
    width: auto;
    margin-top: 4vw;
    border-radius: 5px;
}

.experience ul li {
    line-height: 2;
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.experience ul li img {
    width: 4.5vw;
    padding-right: 5px;
    margin-bottom: -0.5vw;
}

.experience-project {
    z-index: 4;
    width: 100%;
    height: 100%;
    display: table;
    overflow: hidden;
}

.exp1 .button,
.exp4 .button,
.exp6 .button {
    padding: 2vw 0 2.2vw;
    border: 1px solid #000;
    box-shadow: 0 4px 0 #000;
}

.experience-project__inner {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.experience-project__inner .content {
    padding-right: 1vw;
}

.project__overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    overflow: hidden;
}

.project__state:checked + .project__overlay {
    opacity: 1;
    animation: fade-in 0.4s;
    display: block;
}

.project {
    text-align: center;
}

.project__state:checked + .project__overlay .project {
    animation: scoot-up 0.2s;
    animation-timing-function: ease-out;
    transform-origin: 50% 0;
}

.project__overlay-close {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.project__state {
    display: none;
}

.preview {
    margin: 0 !important;
    padding: 0 !important;
    width: 62.5vw !important;
}

.brand-info {
    padding: 2px;
    width: 52vw;
    height: 12vw;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 4vw !important;
    box-shadow: -1px -0.5px 3px #292828, 1px -0.5px 1px #706d6d;
}

.button {
    width: 100%;
    padding: 2vw 0;
    line-height: 2;
    font-size: 4.6vw;
    background: #fff;
    position: relative;
    border-radius: 25px;
    display: inline-block;
    border: 1px solid #ddd;
    box-shadow: 0 4px 0 #e0e0e0;
    margin: 1.5vw 0.5vw 2.5vw;
    text-transform: capitalize;
}

.button:hover, .button:focus {
    cursor: pointer;
}

.button--close {
    margin: 0;
    padding: 2vw 0 0 0;
    border: none !important;
    background: none !important;
    box-shadow: none !important;
}

.button--close img {
    width: 5vw !important;
    margin: 0 auto !important;
    display: block !important;
}

.button--inline {
    padding: 0.25em 0.5em;
}

.phone-frame {
    width: 100%;
    background: #000;
    margin-top: -3vw;
    text-align: center;
    margin-bottom: 5vw;
    border-radius: 20px;
    display: inline-block;
}

.phone-frame_Speaker {
    height: 10px;
    width: 150px;
    margin-top: 1.5rem;
    position: relative;
    background: #302F2F;
    border-radius: 10px;
    display: inline-block;
}

.phone-frame__Screen {
    width: 58vw;
    margin-top: 3vw;
    margin-left: 3vw;
}

.phone-frame__Button {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid #302F2F;
    margin: 0 auto !important;
    margin-bottom: 3vw !important;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scoot-up {
    0% {
        margin-top: 80px;
    }
    100% {
        margin-top: 50px;
    }
}

.nav {
    z-index: 3;
    bottom: 0;
    width: 90vw;
    height: 10vw;
    padding: 2vw;
    display: flex;
    position: fixed;
    overflow-x: auto;
    border: 1px solid #eee;
    backdrop-filter: blur(5px);
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, rgba(255, 242, 248, 0.38), rgba(215, 235, 255, 0.32));
}

.nav__link {
    width: 20vw;
    flex-grow: 1;
    display: flex;
    margin: 0 0.5vw;
    font-size: 3.5vw;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
    border-radius: 30px;
    text-decoration: none;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
    border: 1px solid #d5d5d5;
    text-transform: capitalize;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
    background-image: linear-gradient(to top, rgba(216, 217, 219, 0.6) 0%, rgba(255, 255, 255, 0.97) 80%, rgba(253, 253, 253, 0.57) 100%);
    box-shadow: 0 4px 3px 1px rgba(252, 252, 252, 0.24), 0 6px 8px rgba(214, 215, 217, 0.41), 0 -4px 4px rgba(206, 207, 209, 0.22), 0 -6px 4px rgba(254, 254, 254, 0.27), inset 0 0 3px 0 #CECFD1;
}

.desktop {
    width: 70vw;
    margin: 0 auto 5vw;
    padding-bottom: 3vw;
    border-radius: 10px;
    box-sizing: border-box;
    border: 0.5px solid #c3c3c3;
    background: linear-gradient(70deg, #ececed, #d8dee0);
    box-shadow: 0px 4px #cbcbcb36, 0px 10px 15px rgb(0 0 0 / 13%);
}

.work1-01 {
    background: linear-gradient(20deg, #ffe47a, #ff82a7, #ff8cb2);
}

.work1-02 {
    background: linear-gradient(20deg, #97a7bf, #ad98d1, #babdb0);
}

.work4-01 {
    background: linear-gradient(20deg, #dbff8a, #ed3dbf, #ffccf1);
}

.work4-02 {
    background: linear-gradient(20deg, #470c00, #a66213, #ce1429);
}

.work4-03 {
    background: linear-gradient(20deg, #031006, #6f748d, #9c913f);
}

.work5-01 {
    background: linear-gradient(20deg, #e4e8e5, #ffffff, #e2f0e6);
}

.work5-02 {
    background: linear-gradient(20deg, #ebe3e8, #abc9e8, #fff2f2);
}

.work5-03 {
    background: linear-gradient(20deg, #dacdbb, #dacecd, #e4e8f2);
}

.work5-04 {
    background: linear-gradient(20deg, #ffe8f4, #edeaff, #ffa2e4);
}

.work5-05 {
    background: linear-gradient(20deg, #e1dde8, #e8dde8, #dad7d4);
}

.work5-06 {
    background: linear-gradient(20deg, #e6ebe6, #fdcf6d, #e2e8d4);
}

.work6-01 {
    background: linear-gradient(20deg, #b0f2ff, #0b0e0d, #7293c6);
}

.work7-01 {
    background: linear-gradient(20deg, #0e3304, #c3d6d0, #cdced3);
}

.work7-02 {
    background: linear-gradient(20deg, #ff96b5, #d9d9dd, #fdefff);
}

.work7-03 {
    background: linear-gradient(20deg, #c9ddff, #d1b7d8, #ffebee);
}

.work7-04 {
    background: linear-gradient(20deg, #ffebf2, #85202c, #fde4b8);
}

.work7-05 {
    background: linear-gradient(20deg, #eae0dd, #242f5c, #a2ccfb);
}

.work8-01 {
    background: linear-gradient(20deg, #f1f7eb, #a0b07d, #679ec0);
}

.flex {
    gap: 2vw;
    display: flex;
}

.desktop img {
    width: 100%;
    height: 35vw;
    background: #fff;
    object-fit: cover;
    object-position: center;
}

.flex .desktop img {
    height: 52vw;
}

.circles {
    text-align: left;
    margin-left: 10px;
    padding: 1.5vw 0 1vw;
}

.circle {
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 100%;
    display: inline-block;
}

.c1 {
    background: #FCB0AC;
}

.c2 {
    background: #FEE48E;
}

.c3 {
    background: #E3EFC6;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs label {
    order: 1;
    display: flex;
    padding: 1vw 2vw;
    cursor: pointer;
    font-weight: bold;
    transition: background ease 0.2s;
}

.tabs .tab {
    order: 99;
    width: 100%;
    flex-grow: 1;
    display: none;
    margin-top: 3vw;
    background: #fff;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"] + label {
    opacity: 0.2;
}

.tabs input[type="radio"]:checked + label {
    opacity: 1;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

.tabs label img.svg {
    width: 6vw;
}

.back-to-top-link {
    width: 15vw;
    height: 15vw;
    display: block;
    margin: 0 auto;
    line-height: 2;
    border-radius: 50%;
    text-align: center;
    background: #efefef;
    text-decoration: none;
    border: 2px solid #3f3f3f;
    font-size: 7vw !important;
    filter: saturate(0.4) brightness(1);
    box-shadow: -1px -0.5px 3px #292828, 1px -0.5px 1px #706d6d;
}



