h1 {
    line-height: 1.5;
    font-size: 6vw;
    margin-top: 20vw;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 4vw;
    line-height: 1.7;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10vw;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

h3, h4, a, label, span {
    font-size: 4vw;
    font-weight: 600;
    text-transform: capitalize;
}

h3, a {
    padding: 0;
    font-size: 4.8vw;
    text-transform: capitalize;
}

span {
    line-height: 2;
    display: block;
    margin-top: 6vw;
    font-size: 3.5vw;
    text-transform: uppercase;
}

p {
    font-size: 3.5vw;
}

.light {
    z-index: 3;
    top: -10vw;
    width: 10vw;
    height: 100%;
    left: -150px;
    position: fixed;
    overflow: hidden;
    transform: rotateZ(183deg);
    animation: light 5s infinite;
    background: linear-gradient(to right, rgb(242 247 253 / 0%) 0%, rgba(255, 255, 255, 0.31) 50%, rgb(217 255 253 / 0%) 100%);
}

@keyframes light {
    0% {
        left: -150px;
    }
    100% {
        left: 100%;
    }
}

.rope {
    width: 5vw;
    height: 20vw;
    position: absolute;
    margin: -15vw 0 0 39vw;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 -3px 5px rgb(0 0 0 / 63%);
    background-image: linear-gradient(175deg, #a3a3a3, #f6f6f6, #ffffff, #ffffff, #ffffff, #c0c2c6, #222324);
}

.holes {
    display: flex;
    padding: 3vw 0;
    border-radius: 25px;
    border: 1px solid #ebebeb;
    border-bottom: 10px solid #e1e1e3;
    background: linear-gradient(145deg, #fff, #eceded, #cfd2da);
    box-shadow: 11px 11px 50px #fffffff0, -11px -11px 50px #ffffff70;
}

.hole1,
.hole2,
.hole3 {
    width: 14vw;
    height: 3vw;
    border-radius: 15px;
}

.hole1 {
    margin-left: 10vw;
    background: linear-gradient(45deg, #797979, #dddddd, #676363);
}

.hole2 {
    width: 8vw;
    margin: 0 auto;
    background: linear-gradient(45deg, #797979, #000000, #676363);
}

.hole3 {
    margin-right: 10vw;
    background: linear-gradient(45deg, #797979, #dddddd, #676363);
}

.division {
    width: 110%;
    margin: 5vw 0 -10vw -4vw;
    border-top: 5px solid #f1f1f3;
}

.container {
    margin: 6vw 0 0;
    background: #fff;
    border-radius: 25px;
    padding: 0 7vw 10vw;
    border: 5px solid #eee;
    box-shadow: -1px -0.5px 3px #b2b2b2, 1px -0.5px 1px #c4c4c4;
}

.dia-svg {
    width: 5vw;
    display: block;
    margin: 15vw auto 5vw;
}

.profile {
    margin-top: 15vw;
    background: linear-gradient(0deg, #dbdbe3, rgba(238, 243, 248, 0.56), rgba(248, 250, 255, 0.54), #eceded, #cfd2da);
}

.thank-you {
    background: linear-gradient(0deg, #dbdbe3, rgba(238, 243, 248, 0.56), rgba(248, 250, 255, 0.54), #eceded, #cfd2da);
}

.profile .profile-image {
    width: fit-content;
    margin: 15vw auto 0;
}

.profile .profile-image .image {
    padding: 1vw;
    border-radius: 25px;
    background: linear-gradient(45deg, #d5d7da8a, #f1f7ff6b, #d2d8e3);
}

.profile .profile-image .image img {
    width: 50vw;
    padding: 2px;
    display: block;
    border-radius: 25px;
    filter: contrast(0.85) brightness(1.05) hue-rotate(354deg);
    box-shadow: -1px -0.5px 3px #292828, 1px -0.5px 1px #706d6d;
}

.profile .profile-image .image span {
    color: #fff;
    opacity: 0.3;
    font-size: 7vw;
    margin-top: -56%;
    margin-left: 37%;
    position: absolute;
    letter-spacing: 0.4em;
    font-weight: 100;
    writing-mode: vertical-lr;
    text-shadow: 2px 3px 1px #000000c7;
    animation: fadein 3s ease-out forwards;
    font-family: "Nanum Pen Script", sans-serif;
}

.profile .contact {
    padding-bottom: 5vw;
}

.profile .contact .info {
    width: fit-content;
    margin: 15vw auto 10vw;
}

.profile .contact .info img {
    display: block;
    width: 48vw !important;
    margin: 5vw auto;
}

.profile .contact .info .phone {
    width: 30vw !important;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*.about {*/
/*    background: linear-gradient(0deg, #eae0e3, #fff, #fff, #f7f6f8, #eae0e3);*/
/*    padding: 0 7.2vw 10vw;*/
/*}*/

.about h4 {
    line-height: 1.4;
}

.about .location {
    width: 9vw;
    display: block;
}

.about .number {
    width: 4.8vw;
    margin-bottom: -0.7vw;
    margin-right: 0.6vw;
    opacity: 0.85;
}

.swatch {
    display: block;
    position: relative;
    text-align: center;
}

.swatch div {
    top: 0;
    width: 10vw;
    height: 25vw;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0 30px -36px;
    display: inline-block;
    box-sizing: border-box;
    transform: rotate(0deg);
    backface-visibility: hidden;
    transform-origin: center 90%;
    border-top: solid 2px rgba(0, 0, 0, 0.2);
    border-left: solid 3px rgba(255, 255, 255, 0.2);
    border-bottom: solid 3px rgba(0, 0, 0, 0.2);
}

.swatch div:before {
    width: 16px;
    height: 16px;
    content: "";
    bottom: 10px;
    margin-left: -8px;
    position: absolute;
    border-radius: 8px;
    display: inline-block;
    background-color: #ffffff;
}

.swatch div:nth-child(1) {
    background-color: #14095e;
    animation: swatch-purple-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(2) {
    background-color: #151a4e;
    animation: swatch-blue-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(3) {
    background-color: #004a19;
    animation: swatch-green-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(4) {
    background-color: #3f7504;
    animation: swatch-yellow-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(5) {
    background-color: #853b06;
    animation: swatch-orange-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(6) {
    background-color: #771e27;
    animation: swatch-red-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes swatch-purple-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(-65deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-blue-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(-40deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-green-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(-15deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-yellow-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(15deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-orange-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(40deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-red-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(65deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

.my-vision__Box {
    line-height: 1.7;
    margin-bottom: 10px;
    letter-spacing: -0.02em;
}

/*.software {*/
/*    background: linear-gradient(0deg, #e8eae0, #fff, #fff, #f8f8f6, #e8eae0);*/
/*    padding: 0 4vw 10vw;*/
/*}*/

.software .grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

.software .grid .item {
    padding: 3vw 0 5vw;
}

.software .grid .item img {
    width: 22vw;
    height: 22vw;
}

.software .grid .item p {
    margin: -1.5vw auto 0;
}

/*.timeline.career {*/
/*    background: linear-gradient(0deg, #e0e6ea, #fff, #fff, #f6f8f8, #e0e6ea);*/
/*}*/

/*.timeline {*/
/*    background: linear-gradient(0deg, #fafdf5, #fff, #fff, #f6f8f8, #fafdf5);*/
/*}*/

.timeline p {
    font-size: 4.5vw;
    font-weight: 400;
    padding: 2vw 0 3.5vw;
    letter-spacing: 0.02em;
}

.timeline h4 {
    font-size: 4.5vw;
    padding-bottom: 2vw;
}

.timeline.career h4 {
    font-size: 4.5vw;
    letter-spacing: -0.01em;
}

.timeline .item {
    margin-bottom: 12vw;
}

.timeline .item:last-child {
    margin-bottom: 4vw;
}

.timeline .item img:nth-child(2) {
    width: 100%;
    height: 40vw;
    padding: 2px;
    margin: 3vw 0;
    object-fit: cover;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: -1px -0.5px 3px #292828, 1px -0.5px 1px #706d6d;
}

.timeline .item .p-image {
    filter: contrast(1.6) saturate(0.3) hue-rotate(20deg) brightness(1.4);
}

.timeline .item .kg-image {
    border: 2px solid #c5c5c5;
    filter: invert(1) hue-rotate(270deg) saturate(1.2) brightness(1.8);
}

.timeline .item .ew-image {
    filter: hue-rotate(165deg) saturate(0.7) contrast(1.5) brightness(0.9);
}

.timeline .item .s-image {
    filter: contrast(1.3) brightness(1.1) saturate(1.8) hue-rotate(20deg);
}

.timeline .item .s-logo {
    width: 32vw;
    height: 7vw;
    margin-top: 7vw;
}

.timeline .item .p-logo {
    margin-left: 1.5vw;
    width: 29vw;
    height: 6.5vw;
}

.timeline .item .w-logo {
    height: 9vw;
    margin-left: -2vw;
    margin-top: 2vw !important;
    margin-bottom: -1vw;
    filter: contrast(1.2) saturate(1.5);
}

.timeline .item .kg-logo {
    width: 30vw;
    margin-bottom: -1vw;
}

.timeline .item .ew-logo {
    width: 36vw;
}


/* experience start */
.experiences {
    padding-bottom: 20vw;
}

.experiences .work {
    border-top: 4px solid #000;
    padding: 2vw 0 15vw;
    margin: 2vw 0;
}

.experiences .work .number {
    width: 16vw;
    right: 14vw;
    position: absolute;
}

.experiences .websites .website {
    width: 100%;
    margin-top: 1vw;
    margin-bottom: 3vw;
    border-radius: 10px;
    padding-bottom: 2vw;
    box-sizing: border-box;
}

.experiences .websites label img.svg {
    width: 6vw;
    height: 6vw;
}

.experiences .websites img {
    width: 100%;
}

.experiences .websites .circles {
    text-align: left;
    margin-left: 10px;
    padding: 1vw 0 0.5vw;
}

.experiences .websites .circle {
    width: 12px;
    height: 12px;
    background: black;
    margin-right: 1vw;
    border-radius: 100%;
    display: inline-block;
}

.experiences .websites .circles .c1 {
    background: #FCB0AC;
}

.experiences .websites .circles .c2 {
    background: #FEE48E;
}

.experiences .websites .circles .c3 {
    background: #E3EFC6;
}

.experiences .details label img {
    width: 5vw;
    top: 3.5vw;
    right: 3.5vw;
    position: absolute;
    filter: saturate(0) brightness(0.7) contrast(2.5);
    animation: ripple 0.8s linear infinite;
}

@-webkit-keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.04), 0 0 0 10px rgba(255, 255, 255, 0.04), 0 0 0 20px rgba(255, 255, 255, 0.05), 0 0 0 30px rgba(255, 255, 255, 0.06);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0.1), 0 0 0 50px rgba(255, 255, 255, 0);
    }
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0.1);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0.1), 0 0 0 50px rgba(255, 255, 255, 0);
    }
}

.experiences .details input:checked + .works {
    opacity: 1;
    display: block;
    animation: fade-in 0.4s;
}

.experiences .details input:checked + .works .work {
    text-align: center;
    transform-origin: 50% 0;
    animation: scoot-up 0.2s;
    animation-timing-function: ease-out;
}

.experiences .details input {
    display: none;
}

.experiences .details .works {
    display: none;
    overflow: hidden;
}

.experiences .details .close {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.experiences .details .button {
    color: #fff;
    height: 12vw;
    background: #000;
    line-height: 2.6;
    padding-left: 4vw;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #333;
    box-sizing: border-box;
    box-shadow: 0 4px 0 #666;
    margin: 1.5vw 0.5vw 2.5vw;
    text-transform: capitalize;
    width: -webkit-fill-available;
}

.experiences .details .button.disabled {
    border: 1px solid #ddd;
    box-shadow: 0 4px 0 #e0e0e0;
}

.experiences .details .button:hover,
.experiences .details .button:focus {
    cursor: pointer;
}

.experiences .details .button--close {
    border: none;
    background: none;
    box-shadow: none;
    margin-bottom: 3vw;
}

.experiences .details .button--close img {
    width: 5vw;
    margin: 0 auto;
    display: block;
}

.experiences .details .works .phone-frame {
    width: 100%;
    margin-top: -3vw;
    text-align: center;
    margin-bottom: 5vw;
    border-radius: 20px;
    display: inline-block;
}

.experiences .details .works .phone-frame .phone-speaker {
    height: 10px;
    width: 150px;
    margin-top: 1.5rem;
    position: relative;
    border-radius: 10px;
    display: inline-block;
}

.experiences .details .works .phone-frame .phone-screen {
    margin: 3vw 0;
}

.experiences .details .works .phone-frame .phone-screen .preview {
    margin: 0 !important;
    padding: 0 !important;
    width: 62.5vw !important;
}

.experiences .details .works .phone-frame .phone-button {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid #302F2F;
    margin: 0 auto !important;
    margin-bottom: 3vw !important;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scoot-up {
    0% {
        margin-top: 80px;
    }
    100% {
        margin-top: 50px;
    }
}

.websites-wrapper .website {
    margin-bottom: 3vw;
}

.websites-wrapper .website:last-child {
    margin-bottom: 12vw;
}

.exp1 .website:nth-child(1) .icon .iconBox,
.exp2 .website:nth-child(1) .icon .iconBox,
.exp4 .website:nth-child(4) .icon .iconBox,
.exp6 .website:nth-child(1) .icon .iconBox {
    background: #fd6f92;
}

.exp6 .website:nth-child(2) .icon .iconBox,
.exp2 .website:nth-child(2) .icon .iconBox,
.exp1 .website:nth-child(2) .icon .iconBox {
    background: #838cb3;
}

.exp3 .website:nth-child(1) .icon .iconBox {
    background: #fbb7e8;
}

.exp3 .website:nth-child(2) .icon .iconBox {
    background: #a1974a;
}

.exp3 .website:nth-child(3) .icon .iconBox {
    background: #cc1429;
}

.exp4 .website:nth-child(1) .icon .iconBox {
    background: #fbb7e8;
}

.exp4 .website:nth-child(2) .icon .iconBox {
    background: #838cb3;
}

.exp4 .website:nth-child(4) .icon .iconBox {
    background: #add6ee;
}

.exp4 .website:nth-child(5) .icon .iconBox {
    background: #c7c8da;
}

.exp4 .imgBox img {
    object-fit: contain;
    object-position: top;
}

.websites-wrapper .icon .iconBox img {
    filter: invert(1);
    width: 60%;
}

.websites-wrapper .icon .iconBox img.black {
    filter: none;
}

.websites-wrapper .icon .iconBox img.ivory {
    filter: invert(93%) sepia(6%) saturate(626%) hue-rotate(351deg) brightness(106%) contrast(98%);
}

.websites-wrapper .website ul {
    gap: 1px;
    padding: 0;
    width: 100%;
    display: flex;
    margin: -4.5px 0 1px;
    list-style-type: none;
}

.websites-wrapper .website ul li {
    color: #000;
    height: 7vw;
    font-size: 3vw;
    line-height: 7vw;
    text-align: center;
    text-transform: uppercase;
    width: -webkit-fill-available;
}

.websites-wrapper .logo {
    width: 100%;
    height: 15vw;
    margin: 2vw 0 0;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: contrast(1.2);
}

.websites-wrapper .website .website-colors p {
    font-size: 3.6vw;
    color: #565656;
    padding: 0 0 1.5vw;
    text-transform: lowercase;
}

.websites-wrapper .website-image {
    height: 50vw;
    width: inherit;
    overflow: hidden;
    position: relative;
    margin-bottom: 1vw;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.websites-wrapper .website-image .imgBox {
    height: 50vw;
    display: flex;
    border-bottom-right-radius: 9px;
}

.websites-wrapper .website-image:nth-child(3),
.websites-wrapper .website-image:nth-child(3) .imgBox {
    height: 45vw;
}

.websites-wrapper .website-image .imgBox span {
    height: 5vw;
    color: #000;
    margin-left: 2%;
    margin-top: 64%;
    font-size: 5vw;
    line-height: 1;
    letter-spacing: -0.02em;
    padding: 0 0.5vw 0 1.5vw;
    backdrop-filter: blur(3px);
}

.websites-wrapper .website-image:nth-child(3) .imgBox span {
    margin-top: 57%;
}

.exp1 .website:nth-child(1) .imgBox {
    background: url('../images/exp/brand1.png');
    background-size: cover;
    filter: saturate(1.4);
}

.exp1 .website:nth-child(2) .imgBox {
    background: linear-gradient(20deg, rgba(85, 89, 135, 0.23), transparent, rgba(145, 161, 239, 0.11)), url('../images/exp/brand2.png'), top;
    background-size: cover;
    filter: saturate(1.3) brightness(1.1);
}

.exp2 .website:nth-child(1) .imgBox {
    background: url('../images/exp/brand33.png'), right;
    background-size: cover;
}

.exp2 .website:nth-child(2) .imgBox {
    background: url('../images/exp/brand333.png');
    background-size: cover;
    filter: saturate(1.2) contrast(1.2);
}

.exp3 .website:nth-child(1) .imgBox {
    background: linear-gradient(45deg, rgba(255, 155, 236, 0.34), rgba(234, 115, 51, 0.14), rgba(0, 0, 0, 0)), url('../images/exp/brand4.png');
    background-size: cover;
    filter: saturate(1.5) contrast(1.1) hue-rotate(10deg);
}

.exp3 .website:nth-child(2) .imgBox {
    background: linear-gradient(45deg, rgba(26, 51, 0, 0.13), rgba(179, 234, 38, 0.19), rgba(80, 85, 49, 0.4)), url('../images/exp/brand6.png'), bottom;
    background-size: cover;
    filter: contrast(1.5) brightness(0.9) hue-rotate(340deg);
}

.exp3 .website:nth-child(3) .imgBox {
    background: url('../images/exp/brand5.png');
    background-size: cover;
    filter: saturate(1.2);
}

.exp4 .website:nth-child(1) .website-image:nth-child(3) .imgBox {
    background: url('../images/exp/brand88880.png');
    background-size: cover;
}

.exp4 .website:nth-child(1) .website-image:nth-child(4) .imgBox {
    background: url('../images/exp/brand8888.png');
    background-size: cover;
}

.exp4 .website:nth-child(2) .website-image:nth-child(3) .imgBox {
    background: url('../images/exp/brand8880.png');
    background-size: cover;
    filter: saturate(1.4) contrast(0.9) hue-rotate(340deg);
}

.exp4 .website:nth-child(2) .website-image:nth-child(4) .imgBox {
    background: url('../images/exp/brand888.jpg') right;
    background-size: cover;
    filter: saturate(1.4) contrast(0.9) hue-rotate(340deg);
}

.exp4 .website:nth-child(4) .website-image:nth-child(3) .imgBox {
    background: linear-gradient(80deg, rgba(152, 177, 193, 0.58), rgba(197, 243, 228, 0.17), transparent, rgba(236, 206, 229, 0.2), rgba(132, 177, 188, 0.32)), url(../images/exp/brand8888889.png) center;
    background-size: cover;
    filter: contrast(1.1);
}

.exp4 .website:nth-child(4) .website-image:nth-child(4) .imgBox {
    background: linear-gradient(225deg, rgba(195, 255, 248, 0.6), rgba(197, 248, 255, 0.18), rgba(37, 90, 11, 0.75)), url(../images/exp/brand888888.png) bottom;
    background-size: cover;
    filter: hue-rotate(157deg) saturate(0.7);
}


.exp4 .website:nth-child(3) .website-image:nth-child(3) .imgBox {
    background: url('../images/exp/brand12222.png') center;
    background-size: cover;
    filter: hue-rotate(355deg) saturate(1.25);
}

.exp4 .website:nth-child(3) .website-image:nth-child(4) .imgBox {
    background: linear-gradient(80deg, rgba(119, 10, 52, 0.15), transparent, transparent, rgba(124, 39, 54, 0.08)), url('../images/exp/brand12.png') center;
    background-size: cover;
    filter: saturate(1.4);
}

.exp4 .website:nth-child(3) .website-image:nth-child(5) .imgBox {
    background: linear-gradient(80deg, rgba(119, 10, 52, 0.15), transparent, transparent, rgba(124, 39, 54, 0.08)), url('../images/exp/brand1222.png') center;
    background-size: cover;
    filter: saturate(1.1);
}

.exp4 .website:nth-child(3) .website-image:nth-child(6) .imgBox {
    background: linear-gradient(80deg, rgba(255, 146, 237, 0.24), transparent, transparent, rgba(69, 5, 16, 0.08)), url('../images/exp/brand122.png') center;
    background-size: cover;
    filter: saturate(1.1);
}

.exp4 .website:nth-child(5) .imgBox {
    background: linear-gradient(65deg, rgba(39, 12, 19, 0.56), #e9eaff2e, rgba(199, 163, 241, 0.38)), url(../images/exp/brand88888.png), center;
    background-size: cover;
}

.exp5 .website:nth-child(1) .imgBox {
    background: url('../images/exp/brand3.png');
    background-size: cover;
}

.exp5 .website:nth-child(2) .imgBox {
    background: linear-gradient(80deg, rgba(189, 177, 168, 0.42), transparent, rgba(103, 114, 184, 0.24)), url('../images/exp/brand30.png') 70%;
    background-size: cover;
}

.exp5 .website:nth-child(3) .imgBox {
    background: url('../images/exp/brand3000.png') center;
    background-size: cover;
}

.exp5 .website:nth-child(4) .imgBox {
    background: url('../images/exp/brand30000.png');
    background-size: cover;
}

.exp5 .website:nth-child(5) .imgBox {
    background: url('../images/exp/brand300.png') top;
    background-size: cover;
    filter: hue-rotate(60deg) saturate(0.9) brightness(0.85) contrast(1.4);
}

.exp6 .website:nth-child(1) .website-image:nth-child(3) .imgBox {
    background: linear-gradient(45deg, rgba(204, 20, 65, 0.5), transparent, rgba(255, 236, 255, 0.5)), url('../images/exp/brand7.png') right;
    background-size: cover;
}

.exp6 .website:nth-child(1) .website-image:nth-child(4) .imgBox {
    background: linear-gradient(50deg, rgba(36, 32, 55, 0.83), rgba(207, 249, 253, 0.1), transparent, rgba(253, 232, 244, 0.75)), url('../images/exp/brand77.png') center;
    background-size: cover;
}

.exp6 .website:nth-child(1) .website-image:nth-child(5) .imgBox {
    background: linear-gradient(45deg, rgba(53, 24, 0, 0.83), transparent, transparent, rgba(215, 236, 248, 0.9)), url('../images/exp/brand777.png') center;
    background-size: cover;
}

.exp6 .website:nth-child(2) .imgBox {
    background: linear-gradient(180deg, rgba(200, 250, 255, 0.56), rgba(255, 222, 240, 0.13), transparent, rgba(158, 91, 41, 0.53)), url('../images/exp/brand7777.png') bottom;
    background-size: cover;
}

.exp7 .website:nth-child(1) .imgBox {
    background: linear-gradient(10deg, rgba(255, 179, 220, 0.65), transparent, rgba(249, 224, 255, 0.93)), url('../images/exp/brand90.png');
    background-size: cover;
}

.exp7 .website:nth-child(2) .imgBox {
    background: linear-gradient(180deg, rgba(80, 80, 251, 0.09), transparent, rgba(184, 106, 109, 0.13)), url('../images/exp/brand9.png');
    background-size: cover;
}

.websites-wrapper .website-image .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.websites-wrapper .website-image .icon {
    width: 12vw;
    height: 12vw;
    background: #fff;
    right: -0.375rem;
    bottom: -0.375rem;
    position: absolute;
    border-top-left-radius: 50%;
}

.websites-wrapper .website-image .icon::before {
    position: absolute;
    content: "";
    bottom: 0.375rem;
    left: -1.25rem;
    background: transparent;
    width: 1.25rem;
    height: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    box-shadow: 0.313rem 0.313rem 0 0.313rem #fff;
}

.websites-wrapper .website-image .icon .iconBox {
    display: flex;
    inset: 0.625rem;
    transition: 0.3s;
    position: absolute;
    border-radius: 50%;
    background: #282828;
    align-items: center;
    justify-content: center;
}

.websites-wrapper .website-image .icon .iconBox span {
    margin: 0;
    font-size: 3.5vw;
    letter-spacing: 0.05em;
}

.work1-01 {
    background: linear-gradient(45deg, #c79797, #b09693, #eee);
}

.work1-01 .phone-speaker {
    background: #f1e0e0 !important;
}

.work1-01 .phone-button {
    border: 4px solid #dcb9b9 !important;
}

.work1-02,
.work1-05 {
    background: #000;
}

.work1-03 {
    background: linear-gradient(45deg, #e2edeb, #d0d5d1, #90978f, #f2f8fa);
}

.work1-03 .phone-speaker {
    background: #f7fbf8
}

.work1-03 .phone-button {
    border: 4px solid #afbdb4;
}

.work1-04 {
    background: linear-gradient(45deg, #e2e6ed, #e4edf4, #b8bed0, #f2f8fa);
}

.work1-04 .phone-speaker {
    background: #f4f5fd;
}

.work1-04 .phone-button {
    border: 4px solid #f4f5fd;
}

.work4-01 {
    background: linear-gradient(45deg, #e2e6ed, #e4edf4, #b8bed0, #f2f8fa);
}

.work4-01 .phone-speaker {
    background: #f4f5fd;
}

.work4-01 .phone-button {
    border: 4px solid #f4f5fd;
}

.work4-02 {
    background: linear-gradient(45deg, #3e3539, #180306, #4d4549, #352e30);
}

.work4-02 .phone-speaker {
    background: #1b1719;
}

.work4-02 .phone-button {
    border: 4px solid #533d48;
}

.work4-03 {
    background: linear-gradient(45deg, #3e3539, #180306, #4d4549, #352e30);
}

.work4-03 .phone-speaker {
    background: #1b1719;
}

.work4-03 .phone-button {
    border: 4px solid #533d48
}

.work5-01 {
    background: linear-gradient(45deg, #252022, #313031, #4d3c47, #080607);
}

.work5-01 .phone-speaker {
    background: #393233;
}

.work5-01 .phone-button {
    border: 4px solid #1b1819;
}

.work5-02 {
    background: linear-gradient(45deg, #e7e7e7, #b1bfba, #8d9392, #f2f8fa);
}

.work5-02 .phone-speaker {
    background: #b5b7b6;
}

.work5-02 .phone-button {
    border: 4px solid #bcc2bf
}

.work5-03 {
    background: linear-gradient(45deg, #252022, #313031, #4d3c47, #080607);
}

.work5-03 .phone-speaker {
    background: #393233;
}

.work5-03 .phone-button {
    border: 4px solid #1b1819;
}

.work5-04 {
    background: linear-gradient(45deg, #e7e7e7, #b1bfba, #8d9392, #f2f8fa);
}

.work5-04 .phone-speaker {
    background: #b5b7b6;
}

.work5-04 .phone-button {
    border: 4px solid #bcc2bf
}

.brand1-01 {
    background: linear-gradient(20deg, #ffe47a, #ff33af, #ff93a7);
}

.brand1-02 {
    background: linear-gradient(20deg, #3d5d8e, #7225d1, #b0bbbd);
}

.brand4-01 {
    background: linear-gradient(20deg, #efeab6, #ff7190, #f1e08e);
}

.brand4-02 {
    background: linear-gradient(20deg, #470c00, #aa8961, #c96d77);
}

.brand4-03 {
    background: linear-gradient(20deg, #07103a, #031006, #f6f6cf);
}

.brand5-01 {
    background: linear-gradient(20deg, #e4e8e5, #ffffff, #e2f0e6);
}

.brand5-02 {
    background: linear-gradient(20deg, #ebe3e8, #abc9e8, #fff2f2);
}

.brand5-03 {
    background: linear-gradient(20deg, #dacdbb, #dacecd, #e4e8f2);
}

.brand5-04 {
    background: linear-gradient(20deg, #ffe8f4, #edeaff, #ffa2e4);
}

.brand5-05 {
    background: linear-gradient(20deg, #e1dde8, #e8dde8, #dad7d4);
}

.brand5-06 {
    background: linear-gradient(20deg, #e6ebe6, #fdcf6d, #e2e8d4);
}

.brand6-01 {
    background: linear-gradient(20deg, #b0f2ff, #0b0e0d, #7293c6);
}

.brand7-01 {
    background: linear-gradient(20deg, #0e3304, #c3d6d0, #cdced3);
}

.brand7-02 {
    background: linear-gradient(20deg, #ff96b5, #d9d9dd, #fdefff);
}

.brand7-03 {
    background: linear-gradient(20deg, #c9ddff, #d1b7d8, #ffebee);
}

.brand7-04 {
    background: linear-gradient(20deg, #ffebf2, #85202c, #fde4b8);
}

.brand7-05 {
    background: linear-gradient(20deg, #eae0dd, #242f5c, #a2ccfb);
}

.brand8-01 {
    background: linear-gradient(20deg, #f1f7eb, #a0b07d, #679ec0);
}

.thank-you .svg-smile {
    width: 4vw;
    margin-bottom: -0.2vw
}

.thank-you .back-to-top-link {
    width: 45vw;
    height: 45vw;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 20vw;
    filter: saturate(0) brightness(1.4) opacity(0.5);
}

.nav {
    z-index: 3;
    bottom: 0;
    width: 90vw;
    height: 10vw;
    padding: 2vw;
    display: flex;
    position: fixed;
    overflow-x: auto;
    border: 1px solid #fff;
    backdrop-filter: blur(2px);
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, rgba(255, 242, 248, 0.38), rgba(215, 235, 255, 0.32));
}

.nav .link {
    width: 20vw;
    flex-grow: 1;
    display: flex;
    margin: 0 0.5vw;
    padding: 0;
    font-size: 3.6vw;
    overflow: hidden;
    font-weight: 400;
    align-items: center;
    white-space: nowrap;
    border-radius: 30px;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #d5d5d5;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    font-family: "Do Hyeon", sans-serif;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
    background-image: linear-gradient(to top, rgba(216, 217, 219, 0.6) 0%, rgba(255, 255, 255, 0.97) 80%, rgba(253, 253, 253, 0.57) 100%);
    box-shadow: 0 4px 3px 1px rgba(252, 252, 252, 0.24), 0 6px 8px rgba(214, 215, 217, 0.41), 0 -4px 4px rgba(206, 207, 209, 0.22), 0 -6px 4px rgba(254, 254, 254, 0.27), inset 0 0 3px 0 #CECFD1;
}

.part-02 .id-card-top,
.part-03 .id-card-top,
.part-04 .id-card-top {
    display: none;
}

label {
    background: #fff;
    position: absolute;
    right: 2vw;
    bottom: 12vw;
    width: 17vw;
    height: 3vw;
    padding: 2vw;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
    border-radius: 10px;
    letter-spacing: -0.05em;
    line-height: 0.6;
    z-index: 2;
}

label:after {
    content: "";
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
    -moz-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    bottom: -1.5vw;
    left: 14vw;
    border-width: 2vw;
    border-style: solid;
}

.exp4 .website:nth-child(1) .imgBox label {
    background: #fdcafd;
}

.exp4 .website:nth-child(1) .imgBox label:after {
    border-color: transparent #fdcafd #fdcafd transparent;

}

@media only screen and (max-width: 980px) {

    * {
        font-family: "Noto Sans KR", sans-serif;
    }

    .profile h1 {
        font-size: 9vw;
        margin-top: 20vw;
        font-family: "Do Hyeon", sans-serif;
    }

    .wrapper {
        overflow: hidden;
        padding: 3vw;
        border-radius: 25px;
        border: 2px solid #7d7d7d;
        box-shadow: 11px 1px 50px #0000002e, -11px -1px 50px #000000a8;
        background: linear-gradient(45deg, #eee, #d9d9e6, #dbd6d6, #fffefc, #ddd);
    }

    .portfolio {
        overflow-x: hidden;
        background: #021733;
        padding: 6vw 3vw 10vw;
    }

    .shadows,
    .part-01 .rope:nth-child(2) {
        display: none;
    }


}

@media screen and (min-width: 981px) {

    .nav,
    .thank-you {
        display: none;
    }

    .light {
        top: 0;
        opacity: 0.3;
    }

    .rope {
        width: 0.7vw;
        height: 92px;
        position: absolute;
        margin: -72px 0 0 3vw;
        border-radius: 0 0 10px 10px;
    }

    .part-01,
    .part-02,
    .part-03,
    .part-04 {
        box-sizing: border-box;
        height: 81vh;
        width: 22vw;
        overflow: hidden;
        padding: 20px;
        border-radius: 25px 25px 30px 30px;
        box-shadow: none;
        border: none;
        margin: 0 auto;
    }

    .part-01,
    .part-02,
    .part-03 {
        width: 19vw;
        height: 520px;
    }

    .part-01 {
        margin-top: 70px;
        border-bottom: 15px solid #898e98;
        border-right: 12px solid #c6cad1;
        background: linear-gradient(95deg, #b1bbda, #c5ccda, #cdd5e4, #fff2fc, #eee, #cdd5e4);
    }

    .part-01 .rope {
        height: 140px;
        margin-top: -120px;
        background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.27), rgb(5 5 5 / 14%), rgba(0, 0, 0, 0.25), #000), url("../images/background/rope1.png");
        background-size: cover;
        background-blend-mode: hard-light;
    }

    .part-01 .rope:nth-child(2) {
        height: 140px;
        margin-top: -120px;
        margin-left: 12vw;
        background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.27), rgb(5 5 5 / 14%), rgba(0, 0, 0, 0.25), #000), url("../images/background/rope1.png");
        background-size: cover;
        background-blend-mode: hard-light;
    }

    .part-01 .holes {
        background: linear-gradient(145deg, #e8cdd9, #aebbe1, #ddf0ff);
    }

    .part-01 .hole2,
    .part-02 .hole2,
    .part-03 .hole2 {
        width: 3vw;
    }

    .part-02 {
        margin-top: 140px;
        background: linear-gradient(95deg, #0a0a0c, #38373f, #1f1e26, #505256, #888692);
        border-bottom: 15px solid #4c4c57;
        border-right: 12px solid #acadb1;
    }

    .part-02 .holes {
        background: linear-gradient(145deg, #26272c, #222223, #242529);
        border: 1px solid #7a7a7a;
        border-bottom: 5px solid #3e3e3e;
        box-shadow: 11px 11px 50px #1e1f21f0, -11px -11px 50px #ffffff70;
    }

    .part-02 .rope {
        height: 220px;
        margin-top: -200px;
        background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.27), rgb(5 5 5 / 14%), rgba(0, 0, 0, 0.25), #000), url("../images/background/rope2.png");
        background-size: cover;
        background-blend-mode: hard-light;
    }

    .part-02 .rope:nth-child(2) {
        height: 220px;
        margin-top: -200px;
        margin-left: 12vw;
        background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.27), rgb(5 5 5 / 14%), rgba(0, 0, 0, 0.25), #000), url("../images/background/rope2.png");
        background-size: cover;
        background-blend-mode: hard-light;
    }

    .part-02 .division {
        border-top: 5px solid #0a0613;
    }

    .part-02 .container {
        background: linear-gradient(15deg, #1d1c22, #191a1c, #0c0c10, #202123, #000);
        color: #fff;
    }

    .part-02 .dia-svg {
        filter: invert(100%);
    }


    .part-03 {
        margin-top: 20px;
        background: linear-gradient(95deg, #c0ab9f, #bfb9b3, #fff0e1, #ece5da, #d7c7c2);
        border-bottom: 15px solid #bfbbb7;
        border-right: 12px solid #efece9;
    }

    .part-03 .rope {
        width: 0.6vw;
        background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.27), rgb(5 5 5 / 14%), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45)), url("../images/background/rope3.png");
        background-size: cover;
        background-blend-mode: hard-light;
    }

    .part-03 .rope:nth-child(2) {
        width: 0.6vw;
        margin-left: 12vw;
        background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.27), rgb(5 5 5 / 14%), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45)), url("../images/background/rope3.png");
        background-size: cover;
        background-blend-mode: hard-light;
    }

    .part-03 .holes {
        background: linear-gradient(145deg, #e8e2d5, #efece0, #dad6d1);
        border-bottom: 5px solid #b2b1ad;
    }

    .part-03 .division {
        border-top: 5px solid #e3e0d6;
    }

    .part-03 .container {
        background: linear-gradient(15deg, #fff9f9, #ffffff, #fffdf8, #fffefc);
    }

    .part-04 {
        width: 32vw;
        margin-top: 50px;
        background: linear-gradient(75deg, #efe7eb, #dddadc, #ede4e6, #fff5fa, #e3d1d8);
        border-bottom: 15px solid #bdb0b7;
        border-right: 12px solid #e1dcdc;
    }

    .part-04 .holes {
        background: linear-gradient(145deg, #c9c4c0, #f3ebee, #dacfd4);
    }

    .part-04 .division {
        border-top: 5px solid #faeef1;
    }

    .part-04 .container {
        background: linear-gradient(15deg, #fffbfe, #fafcff, #ffffff, #fffbfe, #fff);
    }

    .part-04 .rope {
        height: 140px;
        width: 2vw;
        margin-top: -120px;
        background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.27), rgb(5 5 5 / 14%), rgba(0, 0, 0, 0.07), #20181b), url("../images/background/rope4.png");
        background-size: cover;
        background-blend-mode: hard-light;
        margin-left: 2vw;
    }

    .part-04 .rope:nth-child(2) {
        height: 140px;
        width: 2vw;
        margin-top: -120px;
        background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.27), rgb(5 5 5 / 14%), rgba(0, 0, 0, 0.07), #20181b), url("../images/background/rope4.png");
        background-size: cover;
        background-blend-mode: hard-light;
        margin-left: 25vw;
    }

    .part-02 .id-card-top,
    .part-03 .id-card-top,
    .part-04 .id-card-top {
        display: block;
    }

    .scroll {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 64.5vh;
        border-radius: 25px;
        box-shadow: -1px -0.5px 3px #b2b2b2, 1px -0.5px 1px #c4c4c4;
        box-sizing: border-box;
        background: transparent;
    }

    .part-01 .scroll,
    .part-02 .scroll,
    .part-03 .scroll {
        height: 385px;
    }

    * {
        scroll-behavior: smooth;
        scrollbar-width: thin;
    }

    .part-01 {
        scrollbar-color: #d8d7e1 #fdfdfd;
    }

    .part-02 {
        scrollbar-color: #323237 #0d0d0e;
    }

    .part-03 {
        scrollbar-color: #d4cec3 #fffcf5;
    }

    .part-04 {
        scrollbar-color: #e9d8e5 #fff;
    }

    .scroll::-webkit-scrollbar-track {
        border-radius: 20px;
    }

    .scroll::-webkit-scrollbar-thumb {
        border-radius: 20px;
    }

    body {
        overflow-x: hidden;
        height: 100vh;
        background: linear-gradient(to bottom, rgba(250, 253, 255, 0.8), rgba(250, 255, 255, 0.77), rgba(244, 255, 248, 0.87), transparent, rgba(245, 252, 255, 0.8)), url("../images/background/background.jpg");
        background-size: cover;
        background-position-y: 40%;
    }

    .portfolio {
        backdrop-filter: blur(5px);
    }

    .portfolio .wrapper {
        display: flex;
        width: -webkit-fill-available;
        margin: 0 auto;
        padding: 30px;
    }

    .shadows {
        display: flex;
        width: -webkit-fill-available;
        z-index: 2;
        position: relative;
        backdrop-filter: blur(5px);
    }

    .shadow {
        box-sizing: border-box;
        width: 0;
        height: 0;
        border-right: 14vw solid rgba(58, 58, 58, 0.87);
        border-top: 0.6vw solid transparent;
        border-bottom: 0.6vw solid transparent;
        position: relative;
        bottom: 0;
        margin: 0 auto -30px;
        left: -9vw;
        border-radius: 0 0 2px 2px;
        filter: blur(15px);
    }

    .shadow:after {
        content: "";
        border-left: 14vw solid rgba(58, 58, 58, 0.87);
        border-top: 0.6vw solid transparent;
        border-bottom: 0.6vw solid transparent;
        position: absolute;
        top: -0.5vw;
        left: 14vw;
    }

    .shadow-1 {
        bottom: 80px;
    }

    .shadow-2 {
        bottom: 10px;
        left: -10vw
    }

    .shadow-3 {
        bottom: 90px;
        left: -15vw
    }

    .shadow-4 {
        bottom: -5px;
        left: -9vw
    }

    .holes {
        padding: 10px 0;
        border-bottom: 5px solid #e1e1e3;
    }

    .hole1, .hole2, .hole3 {
        height: 15px;
        width: 60px;
    }

    .hole1 {
        margin-left: 20px;
    }

    .hole2 {
        width: 6vw;
    }

    .hole3 {
        margin-right: 20px;
    }

    .division {
        margin: 15px 0 20px -20px;
        width: 120%;
    }

    .container {
        margin-top: 0;
        margin-bottom: 20px;
        background: #fff;
        border-radius: 20px;
        padding: 0 20px 20px;
        box-shadow: none;
        border: none;
        border-top: 1px solid transparent;
    }

    .container:last-child {
        margin: 0;
    }

    .dia-svg {
        width: 15px;
        margin: 30px auto 10px;
    }

    h1 {
        font-size: 22px;
        margin-top: 50px;
        letter-spacing: 0.04em;
    }

    h2 {
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 40px;
    }

    h3, a {
        font-size: 16px;
        padding-bottom: 5px;
    }

    span {
        font-size: 17px;
    }

    p {
        font-size: 13px;
    }

    h4 {
        font-size: 17px;
    }

    .about .location {
        width: 24px
    }

    .about span {
    }

    .about .item {
        padding-bottom: 40px
    }

    .about .number {
        width: 18px;
        margin-bottom: -3px;
    }

    .swatch div {
        margin-top: 10px;
        width: 30px;
        height: 50px;
    }

    .swatch div:before {
        width: 10px;
        height: 10px;
        margin-left: -4px;
    }

    .profile .profile-image {
        margin: 15px auto 0;
    }

    .profile .profile-image .image {
        width: 68%;
        margin: 0 auto;
        padding-bottom: 2vw;
    }

    .profile .profile-image .image img {
        width: 100%;
    }

    .profile .profile-image .image span {
        font-size: 15px;
        margin-top: -60%;
        margin-left: 78%;
        position: relative;
    }

    .profile .contact .info {
        margin: 0 auto;
        padding: 10px 0 0;
    }

    .profile .contact .info h3 img {
        width: 140px !important;
    }

    .profile .contact .info h3 .phone {
        width: 80px !important;
    }

    .profile .contact .info h3 {
        padding: 0;
        font-size: 19px;
    }

    .profile .contact {
        padding: 0;
    }

    .software .grid .item {
        padding: 10px 0 20px;
    }

    .software .grid .item img {
        width: 60px;
        height: 60px;
    }

    .software .grid .item p {
        margin: 0 auto;
    }

    .timeline .item .logo {
        height: 30px;
        margin-left: -5px;
        margin-bottom: -5px !important;
    }

    .timeline p {
        padding: 0;
        font-size: 16px;
        margin-top: 10px;
    }

    .timeline h4 {
        font-size: 20px;
        margin-top: 15px;
    }


    .timeline .item img:nth-child(2) {
        margin: 10px 0;
        height: 100px;
    }

    .timeline .item .w-image, .timeline .item .p-image {
        height: 120px !important;
    }

    .timeline .item {
        margin-bottom: 30px;
    }

    .timeline .item .p-logo {
        margin-left: 5px;
        width: 120px;
        height: 30px;
    }

    .timeline .item .s-logo {
        width: 130px;
        height: 25px;
    }

    .timeline .item .kg-logo {
        width: 130px;
        margin-bottom: -5px;
    }

    .timeline .item .ew-logo {
        width: 130px;
    }

    .experiences span {
        margin-top: 20px;
    }

    .experiences .websites label {
        padding: 5px 10px;
    }

    .experiences .websites label img.svg {
        width: 20px;
        height: 20px;
    }

    .experiences .websites .logo {
        width: 140px;
        height: 30px;
        margin-left: 10px !important;
    }

    .experiences .websites .website {
        margin: 12px auto 20px;
        padding-bottom: 12px;
    }

    .experiences .websites .circles {
        padding: 3px 0;
    }

    .experiences .websites .circle {
        width: 7px;
        height: 7px;
        margin-right: 3px;
    }

    .experiences .details .button {
        padding: 10px 0;
        font-size: 14px;
        margin: 8px auto;
    }


}

