h2, h3, h4 {
    text-align: center;
}

h2, h3 {
    font-family: "Special Gothic Expanded One", sans-serif;
}

h2, span {
    text-transform: capitalize;
}

h2 {
    font-size: 7.2vw;
    margin: 20vw 0 0;
}

h3, p {
    text-transform: uppercase;
}

h3 {
    font-size: 6vw;
    letter-spacing: 0.04em;
}

h4 {
    font-size: 5.5vw;
    margin-top: 2vw;
    line-height: 1.7;
    margin-bottom: 15vw;
    font-family: 'KOTRA_BOLD-Bold', sans-serif;
}

h5 {
    font-size: 4.3vw;
    padding-bottom: 3vw;
}

span {
    display: block;
    font-size: 4.2vw;
}

p {
    display: block;
    font-size: 3.6vw;
}

a {
    font-size: 5vw;
    font-weight: 600;
    letter-spacing: -0.05em;
    text-transform: capitalize;
}

.light {
    z-index: 3;
    top: -10vw;
    left: -150px;
    width: 10vw;
    height: 100%;
    position: fixed;
    overflow: hidden;
    transform: rotateZ(183deg);
    animation: light 5s infinite;
    background: linear-gradient(to right, rgb(242 247 253 / 0%) 0%, rgba(255, 255, 255, 0.31) 50%, rgb(217 255 253 / 0%) 100%);
}

@keyframes light {
    0% {
        left: -150px;
    }
    100% {
        left: 100%;
    }
}

.rope {
    width: 9vw;
    height: 20vw;
    position: absolute;
    margin: -15vw 0 0 37vw;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 -3px 5px rgb(0 0 0 / 63%);
    background-image: linear-gradient(175deg, #a3a3a3, #f6f6f6, #ffffff, #ffffff, #ffffff, #c0c2c6, #222324);
}

.holes {
    display: flex;
    padding: 3vw 0;
    border-radius: 25px;
    border: 1px solid #ebebeb;
    border-bottom: 10px solid #e1e1e3;
    background: linear-gradient(145deg, #fff, #eceded, #cfd2da);
    box-shadow: 11px 11px 50px #fffffff0, -11px -11px 50px #ffffff70;
}

.hole1,
.hole2,
.hole3 {
    height: 3vw;
    width: 14vw;
    border-radius: 15px;
}

.hole1 {
    margin-left: 10vw;
    background: linear-gradient(45deg, #797979, #dddddd, #676363);
}

.hole2 {
    width: 8vw;
    margin: 0 auto;
    background: linear-gradient(45deg, #797979, #000000, #676363);
}

.hole3 {
    margin-right: 10vw;
    background: linear-gradient(45deg, #797979, #dddddd, #676363);
}

.division {
    width: 110%;
    margin: 5vw 0 -10vw -4vw;
    border-top: 5px solid #f1f1f3;
}

.container {
    margin: 6vw 0 0;
    background: #fff;
    border-radius: 25px;
    padding: 0 5vw 10vw;
    border: 2px solid #eee;
    box-shadow: -1px -0.5px 3px #b2b2b2, 1px -0.5px 1px #c4c4c4;
}

.dia-svg {
    width: 5vw;
    display: block;
    margin: 15vw auto 5vw;
}

.profile {
    margin-top: 15vw;
    padding-bottom: 0;
    border-top: 5px solid #eee;
    background: linear-gradient(0deg, #fff, #fff, #eceded, #cfd2da);
}

.profile .profile-image {
    width: fit-content;
    margin: 15vw auto 0;
}

.profile .profile-image .image {
    padding: 1vw;
    border-radius: 25px;
    background: linear-gradient(45deg, #d5d7da8a, #f1f7ff6b, #d2d8e3);
}

.profile .profile-image .image img {
    width: 50vw;
    padding: 2px;
    display: block;
    border-radius: 25px;
    filter: contrast(0.85) brightness(1.05) hue-rotate(354deg);
    box-shadow: -1px -0.5px 3px #292828, 1px -0.5px 1px #706d6d;
}

.profile .profile-image .image span {
    color: #fff;
    opacity: 0.3;
    font-size: 5vw;
    margin-top: -55%;
    margin-left: 40%;
    position: absolute;
    letter-spacing: 0.6em;
    writing-mode: vertical-lr;
    text-shadow: 2px 3px 1px #000000c7;
    animation: fadein 3s ease-out forwards;
    font-family: 'HakgyoansimBadasseugiTTF-L', sans-serif;
}

.profile .contact {
    padding-bottom: 15vw;
}

.profile .contact .info {
    width: fit-content;
    text-align: center;
    margin: 10vw auto 2vw;
}

.profile .contact .info h5 {
    padding: 2vw 0;
    font-size: 3.8vw;
}

.profile .contact .info h5 img {
    background: #fff;
    width: 46vw !important;
    margin-bottom: -9px !important;
    filter: contrast(1.1) brightness(1.1);
}

.profile .contact .info h5 .phone {
    width: 28vw !important;
    margin-bottom: -9px !important;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about span {
    line-height: 1.6;
    margin-bottom: 3vw;
}

.about .location {
    width: 8vw;
    display: block;
}

.about .item {
    padding-bottom: 7vw;
}

.about .number {
    width: 5vw;
    margin-bottom: -0.7vw;
}

.about .n-1 {
    filter: hue-rotate(190deg) brightness(1.5);
}

.about .n-2 {
    filter: hue-rotate(85deg) saturate(4);
}

.about .n-3 {
    filter: hue-rotate(350deg) saturate(1.2) brightness(1.1);
}

.about .n-4 {
    filter: hue-rotate(7deg);
}

.about .n-5 {
    filter: hue-rotate(290deg) saturate(0.8);
}

.about .n-6 {
    filter: brightness(1.2);
}

.about .n-7 {
    filter: hue-rotate(250deg) brightness(1.1);
}

.swatch {
    display: block;
    text-align: center;
    position: relative;
}

.swatch div {
    top: 0;
    width: 10vw;
    height: 25vw;
    border-radius: 5px;
    text-align: center;
    margin-left: -35px;
    display: inline-block;
    box-sizing: border-box;
    transform: rotate(0deg);
    backface-visibility: hidden;
    transform-origin: center 90%;
    border-top: solid 2px rgba(0, 0, 0, 0.2);
    border-left: solid 3px rgba(255, 255, 255, 0.2);
    border-bottom: solid 3px rgba(0, 0, 0, 0.2);
}

.swatch div:before {
    width: 16px;
    height: 16px;
    content: "";
    bottom: 10px;
    margin-left: -8px;
    position: absolute;
    border-radius: 8px;
    display: inline-block;
    background-color: #ffffff;
}

.swatch div:nth-child(1) {
    background-color: #14095e;
    animation: swatch-purple-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(2) {
    background-color: #151a4e;
    animation: swatch-blue-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(3) {
    background-color: #004a19;
    animation: swatch-green-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(4) {
    background-color: #3f7504;
    animation: swatch-yellow-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(5) {
    background-color: #853b06;
    animation: swatch-orange-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.swatch div:nth-child(6) {
    background-color: #771e27;
    animation: swatch-red-motion 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes swatch-purple-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(-65deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-blue-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(-40deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-green-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(-15deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-yellow-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(15deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-orange-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(40deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-red-motion {
    0% {
        transform: rotate(0deg);
    }
    30%,
    70% {
        transform: rotate(65deg);
    }
    90%,
    10% {
        transform: rotate(0deg);
    }
}

.software {
    text-align: center;
    padding: 7vw 2vw 10vw;
}

.software .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.software .grid .item {
    padding: 3vw 0 5vw;
}

.software .grid .item img {
    width: 22vw;
}

.software .grid .item p {
    margin: auto;
}

.timeline span {
    font-size: 4.5vw;
    padding-bottom: 1.7vw;
}

.timeline .item {
    margin-bottom: 25vw;
}

.timeline .item img:nth-child(2) {
    width: 100%;
    height: 40vw;
    padding: 2px;
    margin: 3vw 0;
    object-fit: cover;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: -1px -0.5px 3px #292828, 1px -0.5px 1px #706d6d;
}

.timeline .item .w-image,
.timeline .item .p-image {
    height: 45vw !important;
}

.timeline .item .p-image {
    filter: contrast(1.6) saturate(0.3) hue-rotate(20deg) brightness(1.4);
}

.timeline .item .kg-image {
    border: 1px solid #eee;
    filter: invert(1) hue-rotate(270deg) saturate(1.2) brightness(1.8);
}

.timeline .item .ew-image {
    filter: hue-rotate(165deg) saturate(0.4) contrast(1.5) brightness(0.9);
}

.timeline .item .s-image {
    filter: contrast(1.3) brightness(1.1) saturate(1.8) hue-rotate(20deg);
}

.timeline .item .s-logo {
    width: 33vw;
    height: 8vw;
}

.timeline .item .p-logo {
    margin-left: 1.5vw;
    width: 29vw;
    height: 6.5vw;
}

.timeline .item .w-logo {
    height: 8.5vw;
    margin-left: -2vw;
    margin-bottom: -1vw;
    filter: contrast(1.2);
}

.timeline .item .kg-logo {
    width: 30vw;
    margin-bottom: -1vw;
}

.timeline .item .ew-logo {
    width: 36vw;
}


/* experience start */
.experiences span {
    line-height: 2;
    letter-spacing: 0.04em;
    margin-top: 12vw;
    display: block;
}

.experiences .websites {
    display: flex;
    flex-wrap: wrap;
}

.experiences .websites label {
    order: 1;
    display: flex;
    padding: 1vw 2vw;
    cursor: pointer;
    font-weight: bold;
    transition: background ease 0.2s;
}

.experiences .websites .website {
    order: 99;
    width: 100%;
    flex-grow: 1;
    display: none;
    margin: 3vw auto 5vw;
    padding-bottom: 3vw;
    border-radius: 10px;
    box-sizing: border-box;
    border: 0.5px solid #c3c3c3;
    box-shadow: 0 4px #cbcbcb36, 0 10px 15px rgb(0 0 0 / 13%);
}

.experiences .websites input[type="radio"] {
    display: none;
}

.experiences .websites input[type="radio"] + label {
    opacity: 0.2;
}

.experiences .websites input[type="radio"]:checked + label {
    opacity: 1;
}

.experiences .websites input[type="radio"]:checked + label + .website {
    display: block;
}

.experiences .websites label img.svg {
    width: 6vw;
    height: 6vw;
}

.experiences .websites .logo {
    padding: 2px;
    width: 52vw;
    height: 12vw;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 4vw !important;
    box-shadow: -1px -0.5px 3px #292828, 1px -0.5px 1px #706d6d;
}

.experiences .websites img {
    width: 100%;
}

.experiences .websites .circles {
    text-align: left;
    margin-left: 10px;
    padding: 1.5vw 0 1vw;
}

.experiences .websites .circle {
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 100%;
    display: inline-block;
    margin-right: 1vw;
}

.experiences .websites .circles .c1 {
    background: #FCB0AC;
}

.experiences .websites .circles .c2 {
    background: #FEE48E;
}

.experiences .websites .circles .c3 {
    background: #E3EFC6;
}

.experiences .details {
    text-align: center;
}

.experiences .details img {
    width: 4.5vw;
    padding-right: 5px;
    margin-bottom: -0.5vw;
}

.experiences .details input:checked + .works {
    opacity: 1;
    display: block;
    animation: fade-in 0.4s;
}

.experiences .details input:checked + .works .work {
    text-align: center;
    transform-origin: 50% 0;
    animation: scoot-up 0.2s;
    animation-timing-function: ease-out;
}

.experiences .details input {
    display: none;
}

.experiences .details .works {
    display: none;
    overflow: hidden;
}

.experiences .details .close {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.experiences .details .button {
    width: 100%;
    padding: 2vw 0;
    line-height: 2;
    font-size: 4.6vw;
    background: #fff;
    position: relative;
    border-radius: 25px;
    display: inline-block;
    border: 1px solid #000;
    box-shadow: 0 4px 0 #000;
    margin: 1.5vw 0.5vw 2.5vw;
    text-transform: capitalize;
}

.experiences .details .button.disabled {
    border: 1px solid #ddd;
    box-shadow: 0 4px 0 #e0e0e0;
}

.experiences .details .button:hover,
.experiences .details .button:focus {
    cursor: pointer;
}

.experiences .details .button--close {
    margin-bottom: 3vw;
    border: none;
    background: none;
    box-shadow: none;
}

.experiences .details .button--close img {
    width: 5vw;
    margin: 0 auto;
    display: block;
}

.experiences .details .works .phone-frame {
    width: 100%;
    margin-top: -3vw;
    text-align: center;
    margin-bottom: 5vw;
    border-radius: 20px;
    display: inline-block;
}

.experiences .details .works .phone-frame .phone-speaker {
    height: 10px;
    width: 150px;
    margin-top: 1.5rem;
    position: relative;
    border-radius: 10px;
    display: inline-block;
}

.experiences .details .works .phone-frame .phone-screen {
    margin: 3vw 0;
}

.experiences .details .works .phone-frame .phone-screen .preview {
    margin: 0 !important;
    padding: 0 !important;
    width: 62.5vw !important;
}

.experiences .details .works .phone-frame .phone-button {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid #302F2F;
    margin: 0 auto !important;
    margin-bottom: 3vw !important;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scoot-up {
    0% {
        margin-top: 80px;
    }
    100% {
        margin-top: 50px;
    }
}


.work1-01 {
    background: linear-gradient(45deg, #c79797, #b09693, #eee);
}

.work1-01 .phone-speaker {
    background: #f1e0e0 !important;
}

.work1-01 .phone-button {
    border: 4px solid #dcb9b9 !important;
}

.work1-02,
.work1-05 {
    background: #000;
}

.work1-03 {
    background: linear-gradient(45deg, #e2edeb, #d0d5d1, #90978f, #f2f8fa);
}

.work1-03 .phone-speaker {
    background: #f7fbf8
}

.work1-03 .phone-button {
    border: 4px solid #afbdb4;
}

.work1-04 {
    background: linear-gradient(45deg, #e2e6ed, #e4edf4, #b8bed0, #f2f8fa);
}

.work1-04 .phone-speaker {
    background: #f4f5fd;
}

.work1-04 .phone-button {
    border: 4px solid #f4f5fd;
}

.work4-01 {
    background: linear-gradient(45deg, #e2e6ed, #e4edf4, #b8bed0, #f2f8fa);
}

.work4-01 .phone-speaker {
    background: #f4f5fd;
}

.work4-01 .phone-button {
    border: 4px solid #f4f5fd;
}

.work4-02 {
    background: linear-gradient(45deg, #3e3539, #180306, #4d4549, #352e30);
}

.work4-02 .phone-speaker {
    background: #1b1719;
}

.work4-02 .phone-button {
    border: 4px solid #533d48;
}

.work4-03 {
    background: linear-gradient(45deg, #3e3539, #180306, #4d4549, #352e30);
}

.work4-03 .phone-speaker {
    background: #1b1719;
}

.work4-03 .phone-button {
    border: 4px solid #533d48
}

.work5-01 {
    background: linear-gradient(45deg, #252022, #313031, #4d3c47, #080607);
}

.work5-01 .phone-speaker {
    background: #393233;
}

.work5-01 .phone-button {
    border: 4px solid #1b1819;
}

.work5-02 {
    background: linear-gradient(45deg, #e7e7e7, #b1bfba, #8d9392, #f2f8fa);
}

.work5-02 .phone-speaker {
    background: #b5b7b6;
}

.work5-02 .phone-button {
    border: 4px solid #bcc2bf
}

.work5-03 {
    background: linear-gradient(45deg, #252022, #313031, #4d3c47, #080607);
}

.work5-03 .phone-speaker {
    background: #393233;
}

.work5-03 .phone-button {
    border: 4px solid #1b1819;
}

.work5-04 {
    background: linear-gradient(45deg, #e7e7e7, #b1bfba, #8d9392, #f2f8fa);
}

.work5-04 .phone-speaker {
    background: #b5b7b6;
}

.work5-04 .phone-button {
    border: 4px solid #bcc2bf
}


.brand1-01 {
    background: linear-gradient(20deg, #ffe47a, #ff82a7, #ff8cb2);
}

.brand1-02 {
    background: linear-gradient(20deg, #97a7bf, #ad98d1, #babdb0);
}

.brand4-01 {
    background: linear-gradient(20deg, #dbff8a, #ed3dbf, #ffccf1);
}

.brand4-02 {
    background: linear-gradient(20deg, #470c00, #a66213, #ce1429);
}

.brand4-03 {
    background: linear-gradient(20deg, #031006, #6f748d, #9c913f);
}

.brand5-01 {
    background: linear-gradient(20deg, #e4e8e5, #ffffff, #e2f0e6);
}

.brand5-02 {
    background: linear-gradient(20deg, #ebe3e8, #abc9e8, #fff2f2);
}

.brand5-03 {
    background: linear-gradient(20deg, #dacdbb, #dacecd, #e4e8f2);
}

.brand5-04 {
    background: linear-gradient(20deg, #ffe8f4, #edeaff, #ffa2e4);
}

.brand5-05 {
    background: linear-gradient(20deg, #e1dde8, #e8dde8, #dad7d4);
}

.brand5-06 {
    background: linear-gradient(20deg, #e6ebe6, #fdcf6d, #e2e8d4);
}

.brand6-01 {
    background: linear-gradient(20deg, #b0f2ff, #0b0e0d, #7293c6);
}

.brand7-01 {
    background: linear-gradient(20deg, #0e3304, #c3d6d0, #cdced3);
}

.brand7-02 {
    background: linear-gradient(20deg, #ff96b5, #d9d9dd, #fdefff);
}

.brand7-03 {
    background: linear-gradient(20deg, #c9ddff, #d1b7d8, #ffebee);
}

.brand7-04 {
    background: linear-gradient(20deg, #ffebf2, #85202c, #fde4b8);
}

.brand7-05 {
    background: linear-gradient(20deg, #eae0dd, #242f5c, #a2ccfb);
}

.brand8-01 {
    background: linear-gradient(20deg, #f1f7eb, #a0b07d, #679ec0);
}

.thank-you .svg-smile {
    width: 8vw;
    margin-bottom: -2vw;
}

.thank-you .back-to-top-link {
    width: 15vw;
    height: 15vw;
    display: block;
    margin: 0 auto;
    line-height: 2;
    border-radius: 50%;
    text-align: center;
    background: #efefef;
    text-decoration: none;
    border: 2px solid #3f3f3f;
    font-size: 7vw !important;
    filter: saturate(0.4) brightness(1);
    box-shadow: -1px -0.5px 3px #292828, 1px -0.5px 1px #706d6d;
}

.nav {
    z-index: 3;
    bottom: 0;
    width: 90vw;
    height: 10vw;
    padding: 2vw;
    display: flex;
    position: fixed;
    overflow-x: auto;
    border: 1px solid #eee;
    backdrop-filter: blur(5px);
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, rgba(255, 242, 248, 0.38), rgba(215, 235, 255, 0.32));
}

.nav .link {
    width: 20vw;
    flex-grow: 1;
    display: flex;
    margin: 0 0.5vw;
    font-size: 3.2vw;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
    border-radius: 30px;
    text-decoration: none;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
    border: 1px solid #d5d5d5;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
    background-image: linear-gradient(to top, rgba(216, 217, 219, 0.6) 0%, rgba(255, 255, 255, 0.97) 80%, rgba(253, 253, 253, 0.57) 100%);
    box-shadow: 0 4px 3px 1px rgba(252, 252, 252, 0.24), 0 6px 8px rgba(214, 215, 217, 0.41), 0 -4px 4px rgba(206, 207, 209, 0.22), 0 -6px 4px rgba(254, 254, 254, 0.27), inset 0 0 3px 0 #CECFD1;
}

.part-02 .id-card-top,
.part-03 .id-card-top,
.part-04 .id-card-top {
    display: none;
}

@media only screen and (max-width: 980px) {
    .wrapper {
        overflow: hidden;
        padding: 5vw;
        border-radius: 25px;
        border: 2px solid #7d7d7d;
        box-shadow: 11px 1px 50px #0000002e, -11px -1px 50px #000000a8;
        background: linear-gradient(45deg, #eee, #d9d9e6, #dbd6d6, #fffefc, #ddd);
    }

    .portfolio {
        overflow-x: hidden;
        background: #021733;
        padding: 6vw 3vw 10vw;
    }

    .shadows,
    .part-01 .rope:nth-child(2) {
        display: none;
    }


}

@media screen and (min-width: 981px) {

    .nav,
    .thank-you {
        display: none;
    }

    .light {
        top: 0;
        opacity: 0.3;
    }

    .rope {
        width: 0.7vw;
        height: 92px;
        position: absolute;
        margin: -72px 0 0 3vw;
        border-radius: 0 0 10px 10px;
    }

    .part-01,
    .part-02,
    .part-03,
    .part-04 {
        box-sizing: border-box;
        height: 81vh;
        width: 22vw;
        overflow: hidden;
        padding: 20px;
        border-radius: 25px 25px 30px 30px;
        box-shadow: none;
        border: none;
        margin: 0 auto;
    }

    .part-01,
    .part-02,
    .part-03 {
        width: 19vw;
        height: 520px;
    }

    .part-01 {
        margin-top: 70px;
        border-bottom: 15px solid #898e98;
        border-right: 12px solid #c6cad1;
        background: linear-gradient(95deg, #b1bbda, #c5ccda, #cdd5e4, #fff2fc, #eee, #cdd5e4);
    }

    .part-01 .rope {
        height: 140px;
        margin-top: -120px;
        background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.27), rgb(5 5 5 / 14%), rgba(0, 0, 0, 0.25), #000), url("../images/background/rope1.png");
        background-size: cover;
        background-blend-mode: hard-light;
    }

    .part-01 .rope:nth-child(2) {
        height: 140px;
        margin-top: -120px;
        margin-left: 12vw;
        background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.27), rgb(5 5 5 / 14%), rgba(0, 0, 0, 0.25), #000), url("../images/background/rope1.png");
        background-size: cover;
        background-blend-mode: hard-light;
    }

    .part-01 .holes {
        background: linear-gradient(145deg, #e8cdd9, #aebbe1, #ddf0ff);
    }

    .part-01 .hole2,
    .part-02 .hole2,
    .part-03 .hole2 {
        width: 3vw;
    }

    .part-02 {
        margin-top: 140px;
        background: linear-gradient(95deg, #0a0a0c, #38373f, #1f1e26, #505256, #888692);
        border-bottom: 15px solid #4c4c57;
        border-right: 12px solid #acadb1;
    }

    .part-02 .holes {
        background: linear-gradient(145deg, #26272c, #222223, #242529);
        border: 1px solid #7a7a7a;
        border-bottom: 5px solid #3e3e3e;
        box-shadow: 11px 11px 50px #1e1f21f0, -11px -11px 50px #ffffff70;
    }

    .part-02 .rope {
        height: 220px;
        margin-top: -200px;
        background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.27), rgb(5 5 5 / 14%), rgba(0, 0, 0, 0.25), #000), url("../images/background/rope2.png");
        background-size: cover;
        background-blend-mode: hard-light;
    }

    .part-02 .rope:nth-child(2) {
        height: 220px;
        margin-top: -200px;
        margin-left: 12vw;
        background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.27), rgb(5 5 5 / 14%), rgba(0, 0, 0, 0.25), #000), url("../images/background/rope2.png");
        background-size: cover;
        background-blend-mode: hard-light;
    }

    .part-02 .division {
        border-top: 5px solid #0a0613;
    }

    .part-02 .container {
        background: linear-gradient(15deg, #1d1c22, #191a1c, #0c0c10, #202123, #000);
        color: #fff;
    }

    .part-02 .dia-svg {
        filter: invert(100%);
    }


    .part-03 {
        margin-top: 20px;
        background: linear-gradient(95deg, #c0ab9f, #bfb9b3, #fff0e1, #ece5da, #d7c7c2);
        border-bottom: 15px solid #bfbbb7;
        border-right: 12px solid #efece9;
    }

    .part-03 .rope {
        width: 0.6vw;
        background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.27), rgb(5 5 5 / 14%), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45)), url("../images/background/rope3.png");
        background-size: cover;
        background-blend-mode: hard-light;
    }

    .part-03 .rope:nth-child(2) {
        width: 0.6vw;
        margin-left: 12vw;
        background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.27), rgb(5 5 5 / 14%), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45)), url("../images/background/rope3.png");
        background-size: cover;
        background-blend-mode: hard-light;
    }

    .part-03 .holes {
        background: linear-gradient(145deg, #e8e2d5, #efece0, #dad6d1);
        border-bottom: 5px solid #b2b1ad;
    }

    .part-03 .division {
        border-top: 5px solid #e3e0d6;
    }

    .part-03 .container {
        background: linear-gradient(15deg, #fff9f9, #ffffff, #fffdf8, #fffefc);
    }

    .part-04 {
        width: 32vw;
        margin-top: 50px;
        background: linear-gradient(75deg, #efe7eb, #dddadc, #ede4e6, #fff5fa, #e3d1d8);
        border-bottom: 15px solid #bdb0b7;
        border-right: 12px solid #e1dcdc;
    }

    .part-04 .holes {
        background: linear-gradient(145deg, #c9c4c0, #f3ebee, #dacfd4);
    }

    .part-04 .division {
        border-top: 5px solid #faeef1;
    }

    .part-04 .container {
        background: linear-gradient(15deg, #fffbfe, #fafcff, #ffffff, #fffbfe, #fff);
    }

    .part-04 .rope {
        height: 140px;
        width: 15px;
        margin-top: -120px;
        background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.27), rgb(5 5 5 / 14%), rgba(0, 0, 0, 0.07), #20181b), url("../images/background/rope4.png");
        background-size: cover;
        background-blend-mode: hard-light;
        margin-left: 3vw;
    }

    .part-04 .rope:nth-child(2) {
        height: 140px;
        width: 15px;
        margin-top: -120px;
        background: linear-gradient(to bottom, transparent, rgba(250, 255, 255, 0.27), rgb(5 5 5 / 14%), rgba(0, 0, 0, 0.07), #20181b), url("../images/background/rope4.png");
        background-size: cover;
        background-blend-mode: hard-light;
        margin-left: 25vw;
    }

    .part-02 .id-card-top,
    .part-03 .id-card-top,
    .part-04 .id-card-top {
        display: block;
    }

    .scroll {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 64.5vh;
        border-radius: 25px;
        box-shadow: -1px -0.5px 3px #b2b2b2, 1px -0.5px 1px #c4c4c4;
        box-sizing: border-box;
        background: transparent;
    }

    .part-01 .scroll,
    .part-02 .scroll,
    .part-03 .scroll {
        height: 385px;
    }

    * {
        scroll-behavior: smooth;
        scrollbar-width: thin;
    }

    .part-01 {
        scrollbar-color: #d8d7e1 #fdfdfd;
    }

    .part-02 {
        scrollbar-color: #323237 #0d0d0e;
    }

    .part-03 {
        scrollbar-color: #d4cec3 #fffcf5;
    }

    .part-04 {
        scrollbar-color: #e9d8e5 #fff;
    }

    .scroll::-webkit-scrollbar-track {
        border-radius: 20px;
    }

    .scroll::-webkit-scrollbar-thumb {
        border-radius: 20px;
    }

    body {
        overflow-x: hidden;
        height: 100vh;
        background: linear-gradient(to bottom, rgba(250, 253, 255, 0.8), rgba(250, 255, 255, 0.77), rgba(244, 255, 248, 0.87), transparent, rgba(245, 252, 255, 0.8)), url("../images/background/background.jpg");
        background-size: cover;
        background-position-y: 40%;
    }

    .portfolio {
        backdrop-filter: blur(5px);
    }

    .portfolio .wrapper {
        display: flex;
        width: -webkit-fill-available;
        margin: 0 auto;
        padding: 30px;
    }

    .shadows {
        display: flex;
        width: -webkit-fill-available;
        z-index: 2;
        position: relative;
        backdrop-filter: blur(5px);
    }

    .shadow {
        box-sizing: border-box;
        width: 0;
        height: 0;
        border-right: 14vw solid rgba(58, 58, 58, 0.87);
        border-top: 0.6vw solid transparent;
        border-bottom: 0.6vw solid transparent;
        position: relative;
        bottom: 0;
        margin: 0 auto;
        left: -9vw;
        border-radius: 0 0 2px 2px;
        filter: blur(15px);
    }

    .shadow:after {
        content: "";
        border-left: 14vw solid rgba(58, 58, 58, 0.87);
        border-top: 0.6vw solid transparent;
        border-bottom: 0.6vw solid transparent;
        position: absolute;
        top: -0.5vw;
        left: 14vw;
    }

    .shadow-1 {
        bottom: 80px;
    }

    .shadow-2 {
        bottom: 10px;
        left: -10vw
    }

    .shadow-3 {
        bottom: 90px;
        left: -15vw
    }

    .shadow-4 {
        bottom: -5px;
        left: -9vw
    }

    .holes {
        padding: 10px 0;
        border-bottom: 5px solid #e1e1e3;
    }

    .hole1, .hole2, .hole3 {
        height: 15px;
        width: 60px;
    }

    .hole1 {
        margin-left: 20px;
    }

    .hole2 {
        width: 6vw;
    }

    .hole3 {
        margin-right: 20px;
    }

    .division {
        margin: 15px 0 20px -20px;
        width: 120%;
    }

    .container {
        margin-top: 0;
        margin-bottom: 20px;
        background: #fff;
        border-radius: 20px;
        padding: 0 20px 20px;
        box-shadow: none;
        border: none;
        border-top: 1px solid transparent;
    }

    .container:last-child {
        margin: 0;
    }

    .dia-svg {
        width: 15px;
        margin: 30px auto 10px;
    }

    h2 {
        font-size: 22px;
        margin: 0;
        text-transform: uppercase;
    }

    h3 {
        font-size: 22px;
        letter-spacing: 0.04em;
    }

    h4 {
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 40px;
    }

    h5 {
        font-size: 14px;
        padding-bottom: 10px
    }

    span {
        font-size: 12px;
    }

    p {
        font-size: 13px;
    }

    a {
        font-size: 17px;
    }

    .about .location {
        width: 20px
    }

    .about span {
        margin-bottom: 10px;
    }

    .about .item {
        padding-bottom: 15px
    }

    .about .number {
        width: 16px;
        margin-bottom: -4px;
    }

    .swatch div {
        width: 30px;
        height: 50px;
    }

    .swatch div:before {
        width: 10px;
        height: 10px;
        margin-left: -4px;
    }

    .profile .profile-image {
        margin: 15px auto 0;
    }

    .profile .profile-image .image {
        width: 68%;
        margin: 0 auto;
        padding-bottom: 2vw;
    }

    .profile .profile-image .image img {
        width: 100%;
    }

    .profile .profile-image .image span {
        font-size: 15px;
        margin-top: -60%;
        margin-left: 78%;
        position: relative;
    }

    .profile .contact .info {
        margin: 0 auto;
        padding: 10px 0 0;
    }

    .profile .contact .info h5 img {
        width: 140px !important;
    }

    .profile .contact .info h5 .phone {
        width: 80px !important;
    }

    .profile .contact .info h5 {
        padding: 0;
        font-size: 19px;
    }

    .profile .contact {
        padding: 0;
    }

    .software .grid .item {
        padding: 10px 0 20px;
    }

    .software .grid .item img {
        width: 60px;
    }

    .timeline .item .w-logo {
        height: 30px;
        margin-left: -5px;
        margin-bottom: -2px;
    }

    .timeline .item img:nth-child(2) {
        margin: 10px 0;
        height: 100px;
    }

    .timeline .item .w-image, .timeline .item .p-image {
        height: 120px !important;
    }

    .timeline span {
        font-size: 16px;
        padding-bottom: 5px;
    }

    .timeline .item {
        margin-bottom: 30px;
    }

    .timeline .item .p-logo {
        margin-left: 5px;
        width: 120px;
        height: 30px;
    }

    .timeline .item .s-logo {
        width: 130px;
        height: 25px;
    }

    .timeline .item .kg-logo {
        width: 130px;
        margin-bottom: -5px;
    }

    .timeline .item .ew-logo {
        width: 130px;
    }

    .experiences span {
        margin-top: 20px;
    }

    .experiences .websites label {
        padding: 5px 10px;
    }

    .experiences .websites label img.svg {
        width: 20px;
        height: 20px;
    }

    .experiences .websites .logo {
        width: 140px;
        height: 30px;
        margin-left: 10px !important;
    }

    .experiences .websites .website {
        margin: 12px auto 20px;
        padding-bottom: 12px;
    }

    .experiences .websites .circles {
        padding: 3px 0;
    }

    .experiences .websites .circle {
        width: 7px;
        height: 7px;
        margin-right: 3px;
    }

    .experiences .details .button {
        padding: 10px 0;
        font-size: 14px;
        margin: 8px auto;
    }


}

